<a href="https://colab.research.google.com/github/Rakib-Hasan25/python_everything/blob/main/All_about_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#basic structure
def hello():
  print("hello")

In [ ]:
hello()

hello

In [ ]:
#pass perameter
def hello(name):
  print("hello ",name)

In [ ]:
hello("world")

hello  world

In [ ]:
#add two number

In [ ]:
def is_even(num):

  """
    it is a function of check even
  """
  #upper things is docs of function
  if type(num)==int:
    if(num%2)==0:
      return 'even'
    else:
      return 'odd'
  else:
    return "what are you doing bro"

In [ ]:
is_even(2)
print(is_even.__doc__) # to see the is_even function whole docs

    it is a function of check even

##how to pass perameter in different way

In [ ]:
def power(a,b):
  return a**b

In [ ]:
# power()

In [ ]:
def power(a=1,b=1):
  return a**b

In [ ]:
power()# if pass no perameter then no problem

1

In [ ]:
#positional
power(1,3)

In [ ]:
#keyword
power(b=3,a=2)

# **args and **kwargs

In [ ]:
#*args

def multi(*args):
  print(type(args))
  for i in args:
    print(i)

# (*anything) create no problem
#  we pass all the value as a collection which is tuple

In [ ]:
multi(1,2,3,5) # can pass multiple value


# of(hi='hi', ji=2, nep='fdf')

<class 'tuple'>
1
2
3
5

In [ ]:
#**kwrargs

def of (**rakib):
  print(type(rakib))
  print(type(rakib.items()))
  for (key,value) in rakib.items():
    print(key,value)

#we can pass any number of key & value pair

In [ ]:
of(hi='hi', ji=2, nep='fdf')

<class 'dict'>
<class 'dict_items'>
hi hi
ji 2
nep fdf

#Scope

In [ ]:
#scope

def f(x):
  x+=1
  return x


# we pass copy of x , not actual x

In [ ]:
x=1
print(f(x))
print(x)

In [ ]:
def f():
  x=1
  x+=1
  print("inside function x = ", x)

In [ ]:
x=1
f()
print("outside function x = ", x)

inside function x  2
outside function x  1

In [ ]:
def f():
  global x
  x=1
  x+=1

# now this x is global

In [ ]:
x=1
print("before calling function => ",x)
f()
print("after calling function => ",x)

before calling function =>  1
after calling function =>  2

#Nested Functions

In [ ]:
def f():
  def g():
    print("inside g")
  print("inside f")

In [ ]:
f()

In [ ]:
def f():
  def g():
    print("inside g")
  print("inside f")
  g()

In [ ]:
f()

In [ ]:
#if we call
g() # error

# we can not call g() function outside

In [ ]:
def g(x):
  def h():
    print("inside h")
    x ="abc"
    print("inside h()  x= ", x)

  x=x+1
  print("inside g(x) x= ", x)
  h()
  return x

In [ ]:
x=3
z = g(x)
print("it is value of z =", z)

inside g(x) x=  4
inside h
inside h()  x=  abc
it is value of z = 4

#Functions are 1st class citezen

### in programming language all the datatype are 1st class citizen


###but in python "Function is also a 1st class citizen"
###function can act like datatype

In [ ]:
#type and id
def f(x):
  return x**2

type(f)

print(id(f)) #memory location

139683559766864

In [ ]:
#reassign
x = f(2)
print(x)

4

In [ ]:
x = f
print(x)
print(type(x))
print(id(x)) # location same as f

<function f at 0x7f0a9cf5fb50>
<class 'function'>
139683559766864

In [ ]:
print(x(2))

4

In [ ]:
#deleting a function
del f

In [ ]:
f(3)

In [ ]:
#storing
L=[1,2,3,4,5,f]

print(L)

[1, 2, 3, 4, 5, <function f at 0x7f0a9cf5fb50>]

In [ ]:
L[-1](3)

9

In [ ]:
#FUNCTION MUTABLE OR IMMUTABLE ?
S={1,2,3,4,5,f}
#in set we can not store mutable datatype
# if this print() execuit , then S is immutable
print(S)

In [ ]:
#a tricky code
def f():
  def x(a,b):
    return a+b
  return x


val = f()(3,4)
print (val)

In [ ]:
def f():
  def g():
    print("inside g")
  print("inside f")
  return g;

In [ ]:
f()()

inside f
inside g

In [ ]:
#function as argument
def f_a():
  print("inside f_a")


def f_b(z):
  print("inside f_b")
  return z()


x = f_b(f_a)
print(x)

inside f_b
inside f_a
None

In [ ]:
def f_a():
  print("inside f_a")


def f_b(z):
  print("inside f_b")
  return z


x = f_b(f_a)
print(x)
# x()

inside f_b
<function f_a at 0x7f0aaf4b2c20>
inside f_a

#Benefits of using a Function
 ##+code modularity
 ##+code readibility
 ##+code Resuability

#Lambda Functions
##A lambda function is a small anonymous(no name) function
##A lambda function can take any number of argument but can only have one expression
[image](https://miro.medium.com/v2/resize:fit:1200/0*4eRr7IZ3sP2ZAE8H.png)

In [ ]:
# x -> x^2
a=lambda x: x**2
a(2)

4

In [ ]:
# x,y -> x+y
a = lambda x,y: x+y
c = a(5,2)
print(c)

7

Differance between lambda vs Normal Function


*   No name
*   lambda has no return value (infact , returns a function)


*   is written in 1 line
*   not reusable

###They are used with HOF(Higher order functions)

In [ ]:
#check if a string has 'a'
a = lambda s:'a' in s

a ("hello")

False

In [ ]:
#odd or even
a = lambda x: "odd" if x%2 else "even"
a(3)

'odd'

#higher Order Functions

#####A function which return other function
#####A function which recieve other function

In [ ]:
#Question
#if we have a list , then we have to return a list which has square of item
# which is in the given list
# given list = [1,2,3,4,5]
# output = [1,4,9,16,25]


def square (x):
  return x**2




#transform a higher oder function
#reason it accept a fuction
def transform (f,L):
  output =[]
  for x in L:
    output.append(f(x))
  return output

L = [1,2,3,4,5]
print(transform(square,L))



# do using lambda
print(transform(lambda x: x**2,L))

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

#Map
####it expect a lambda ,  iterable a list
#### and we perform a logic in a list

In [ ]:
#square the items of a list

# map(lambda x:x**2,[1,2,3,4,5]) # this portion return a map object


# now we can convert it to list
x=list(map(lambda x:x**2,[1,2,3,4,5]))
x

[1, 4, 9, 16, 25]

In [ ]:

# odd / even labelling of list items


list(map(lambda x : 'even' if x%2==0  else 'odd' , [1,2,3,4,5]))

In [ ]:
#fetch names from a list of dict


users=[
    {
        "name":'Rahul',
        'age':45,
        'gender':'male'
    },
     {
        "name":'rakib',
        'age':45,
        'gender':'male'
    },
     {
        "name":'hasan',
        'age':45,
        'gender':'male'
    },

]


list(map(lambda x:x['name'] ,users))

['Rahul', 'rakib', 'hasan']

####Filter

In [ ]:
# number greater than 5

L= [1,2,3,4,5,6,7,8,9,10]


#for those element , which return true
list(filter(lambda x:x>5, L ))

[6, 7, 8, 9, 10]

In [ ]:
#fetch fruites starting with 'a'


fruits=["apple", "guava","cherry"]


# list(filter(lambda x:x[0]=='a',fruits))
list(filter(lambda x:x.startswith('a'),fruits))

['apple']

#Reduce

In [ ]:
#sum of all item
import functools
L = [1,2,3,4,5]


#it takes two element from list at once
# it return a single value after the opertions
functools.reduce(lambda x,y:x+y,L)


#  1 2 3 4 5
#  3 3 4 5
#  6 4 5
#  10 5
#  15

15

In [ ]:
L = [43,2,9,4,5]


functools.reduce(lambda x,y:x if x<=y else y,L)

2