<a href="https://colab.research.google.com/github/Rakib-Hasan25/python_everything/blob/main/complete_list_in_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 .
#**What are lists
##### list is a data type where we can store multiple type of items , it acts like dynamic array

#**array vs list
##### array fixed size but list dynamic size
##### any type of data can be store in list(heterogenous)
##### speed of execution is slower in list
##### consume memory in list
##### list are mutable , we can edit update in list

t

#create a list

In [ ]:
# 1D -> home
# same type of datastored (home)
print([1,2,3,4])


# 2D
print([1,2,3,[4,5]]) # hetero not same typedata

# 3D
print([[[1,3],[2.5]],[[1,2],[23]]]) # array which has multiple 2D array


# heterogenous
print([1,True,5.6,5+6j, "hello"])


# using type conversion
print(list('hello'))

[1, 2, 3, 4]
[1, 2, 3, [4, 5]]
[[[1, 3], [2.5]], [[1, 2], [23]]]
[1, True, 5.6, (5+6j), 'hello']
['h', 'e', 'l', 'l', 'o']

#accessing item from a list

In [ ]:
L=[1,2,3]
#positive indexing
print(L[0])
#negitive indexing
print(L[-3])

L1 = [1,3,4,[1,2]]
print(L1[-1][-2])


#slicing

L4=[1,2,3,5]

print(L4[0:3])

1
1
1
[1, 2, 3]

#Adding item to the list

In [ ]:
#append

#it push item in the back side
L = [1,2,3,5]
L.append(True)
print(L)

L.append([1,2,5])
print(L)

[1, 2, 3, 5, True]
[1, 2, 3, 5, True, [1, 2, 5]]

In [ ]:
#extend

L=[1,2,3]
L.extend([6,7,8])
L.extend("rakib")
print(L)

[1, 2, 3, 6, 7, 8, 'r', 'a', 'k', 'i', 'b']

In [ ]:
#insert
L=[1,2,3]
L.insert(1,100)# insert 100 at 1 th index
print(L)

[1, 100, 2, 3]

#Editing

In [ ]:
L=[1,2,3]
print(L)

L[-1]= 500
print(L)

L[0:3]=[4,5,6]
print(L)

L[1:]=[3,4]
print(L)

L[1:3]=[1,2,3,5]
print(L)

[1, 2, 3]
[1, 2, 500]
[4, 5, 6]
[4, 3, 4]
[4, 1, 2, 3, 5]

#Deleting

In [ ]:
l=[4, 1, 2, 3, 5]
del l[-1]
print(l)

[4, 1, 2, 3]

In [ ]:
l=[4, 1, 2, 3, 5]
del l
print(l)

In [ ]:
#remove
l=[4, 1, 2, 3, 5,5]
l.remove(5)
print(l)
#delete the first match element

[4, 1, 2, 3, 5]

In [ ]:
#pop
l=[4, 1, 2, 3, 5,5]
l.pop(0) # delete using index
print(l)

[1, 2, 3, 5, 5]

In [ ]:
#clear
l=[4, 1, 2, 3, 5,5]
l.clear()
print(l)

[]

#Operation in list

In [ ]:
#arithmatic (+,*)

L=[1,2,3]
l2=[3,4,5]
print(L+L1)
print(L*3)

[1, 2, 3, 1, 3, 4, [1, 2]]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#membership
L=[1,2,3]
print(1 in L)

True

In [ ]:
#loops

L=[1,2,3]
for i in L:
  print(i)

print()

for i in range(0,len(L)):
  print(L[i])

1
2
3

1
2
3

In [ ]:
# functions
#len/min/max/sorted


L=[1,2,3]
print(sorted(L,reverse=True))

[3, 2, 1]

In [ ]:
#count

L=[1,2,3]
print(L.count(5))

0

In [ ]:
#index

L=[1,2,3]
print(L.index(1))

0

In [ ]:
#reverse
L = [1,2,4]
# permanently reverse the list

L.reverse()
print(L)

[4, 2, 1]

In [ ]:
#sort vs sorted

L=[2,55,6,73,7]
print(L)
L.sort() # it sort in the existing list
print(L)

[2, 55, 6, 73, 7]
[2, 6, 7, 55, 73]

In [ ]:
#important thing to note


L = [1,3,5]
L1=L
print(L1)
L[0]= 7
print(L1)
#here we don't change in L1 but it change , because , L and L1 are same and share same memorey

[1, 3, 5]
[7, 3, 5]

In [ ]:
#solution
L = [1,3,5]
L1=L.copy()

#here L1 and L don't share same memore location

#prove

print(id(L))
print(id(L1))
#memory address different

134601595722880
134601595727744

In [ ]:
##ordered
L = [1,2,3]
L1= [3,2,1]

L==L1

# here L and L1 are not same , although they have same element but order is different

False

#List Comprehension
####more time and space effiecient than loops

In [ ]:
# push  1 to 10 element in list

L = [ i for i in range(1,11)] # check from right side
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
v=[2,4,5]

# make all list element neg

# [i*-1 for i in v]

v=[v[i]*-1 for i in range(0,len(v)) ]
print(v)

[-2, -4, -5]

In [ ]:
# add all number which are divisible by 5 from range 1 to 5

L= [i for i in range(1,51) if i%5 == 0  ]
print(L)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
L=[[1,2,3],[4,5,6],[7,8,9]]

L1= [L[i][j] for j in range(0,3) for i in range(0,3)]
print(L1)

[1, 4, 7, 2, 5, 8, 3, 6, 9]

#Zip

In [1]:
#write a program to add items of 2 lists index wise
L1 =[1,2,3,4]
L2= [-1,-2,-3,-4]


list(zip(L1,L2))

[(1, -1), (2, -2), (3, -3), (4, -4)]

#Disadvantages in list
### slow
###Risky usage
### eats up more memory

In [ ]:
#slow
# 1 reason

#Dynamic typing in Python means that variables can hold values of any data type,
# and the type of a variable can change during the execution of the program.
# This flexibility requires additional checks and operations to determine and
# handle the data type of each variable, which can slow down the execution of code involving operations on variables,

In [ ]:
#Risky usage
#explain in .copy() function

In [ ]:
#eates up more memory
# Dynamic typing in Python can consume more memory because Python needs to
#store additional information about each variable, including its data type, size, and other metadata.