<a href="https://colab.research.google.com/github/Rakib-Hasan25/python_everything/blob/main/Everything_about_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Creating String

In [ ]:
#creating string
s = 'hello'
w = "hello"
p = '''hello'''

# f ='it's a raining day' #error
t = "it's a raining day"

s = str('hello')

#2.accessing substring

In [4]:
#positive indexing

s = 'hello world'
print(s[0])


#negative indexing

print(s[-1])


#slicing


print(s[0:5]) # print(0 to 4th index)

print(s[1:5:2])# print (0 to 4th index skipping 1 )

print(s[2:])# print 2th index to rest


print(s[6:0:-1]) # print 6th index to 0



print(s[::2]) # print 0 to rest index skipping 1 internally s[0::2]

print(s[::-1]) #reverse string



print(s[-5:]) # print -5 to upperword means  -1

h
d
hello
el
llo world
w olle
hlowrd
dlrow olleh

#3.Editing and Deleting

In [ ]:
# python string are immutable
# that we can't change or delete it

s= "rakib hasan"
#s[0]="R" # not possible

In [7]:
#we can delete the whole string
s = "helloworld"
print(s)
del s
#print(s)

helloworld

In [ ]:
#we can't delete any perticular string in python
# del s[-1] # not possible

#4.operation in string

##*Arithmatic
##*Relational
##*Logical
##*Loops on string
##* Membership

In [ ]:
#aritmatic
print("rakib"+"hasan")

print("rakib"*5)

In [ ]:
#Relational
print('rakib'=='rakib')
print('rakib'!='hasan')
print('chittagong'> 'dhaka')

In [8]:
#logical
# an empty string represent false
# an full string reprent true

'hello' and 'world' # first check 'hello' that means true and then check 'world' so it give true for 'world

'world'

In [9]:
'hello' or 'world'

'hello'

In [10]:
''and 'world'

''

In [12]:
''or 'world'

'world'

In [21]:
#loops in string

for i in 'rakib':
  print(i,end=" ")

print()


s ="rakib"
for i in s:
  print(i,end=" ")

print()


for i in range(0,len(s)):
  print(s[i], end=" ")

r a k i b
r a k i b
r a k i b

In [23]:
#membership
print('Ii' in 'rakib')

False

#5. common function

### len
### max
### min
### sorted

In [27]:


a= 'rakib'
print(a)
print(len(a))
print(max(a))
print(min(a))
print(sorted(a))

rakib
5
r
a
['a', 'b', 'i', 'k', 'r']

In [31]:

s = 'hello world'
s.capitalize() #make first character of a whole string upper case
s.title() # make every separated word uppercase
s.upper() # make whole string uppercase
s.lower() # make whole string lowercase

'HELLO WORLD'

#Count, find ,index

In [34]:
'my name is rakib'.count('i') # count all the i

'my name is rakib'.find('is') # return the first index where it find 'is'
'my name is rakib'.find('x') # if no matching it return -1

'my name is rakib'.index('is')# return the first index where it find 'is'
'my name is rakib'.index('x')# it will return an error and it is the difference between find and index

8

#endswith/startswith

In [36]:
#it return true or false

a = "rakib"
a.startswith('ra')

a.endswith('ba')

False

#formet

In [42]:
name = 'rakib'
gender ="male"

'hi my name is {} i am a {}'.format(name,gender)


a = 'hi my name is {} i am a {}'
a.format(name,gender)



#a.format(name) giee error

a.format(name,gender, "ff") # not giving error , give extra argument

'hi my name is rakib i am a male'

#Split and Join

In [43]:
#split
a = "hi i am rakib"
a.split('i') # split according to this character 'i' and return a list

['h', ' ', ' am rak', 'b']

In [44]:
#join
" ".join(['hi', 'i', 'am', 'rakib']) # join all array element giving a space and return a string

'hi i am rakib'

#Replace

In [45]:
original_string = "I like apples, apples are tasty."
new_string = original_string.replace("apples", "bananas")
print(new_string)

I like bananas, bananas are tasty.

#strip

In [46]:
'nitish                '.strip()

'nitish'