<a href="https://colab.research.google.com/github/Rakib-Hasan25/python_everything/blob/main/python_fundamental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. Python Output**

In [ ]:
print("hello")

hello

In [ ]:
print("hello",2,True,4.5)

hello 2 True 4.5

#Comments

In [ ]:
#sep=" " and end = "/n" are buildin in print function
# when there are multiple item then item will be separated with space
# and after every print function their will be '/n' which will be new line


#sep
print("hello",2,True,4.5, sep= "-")

hello-2-True-4.5

In [ ]:
#end
print("rakib")
print("3")

rakib
3

In [ ]:
print("rakib", end=" ")
print("3")

rakib 3

#3.DATA TYPES

###A data type defines the kind of values that can be stored and manipulated within a programming language,

In [8]:
#integar

print(1e308)
#max greater than or near 1e308
print(1e309)

1e+308
inf

In [ ]:
#float
print(3.5)

In [ ]:
#string
print("rakib")

In [9]:
#Boolean
print(True)
print(False)

True
False

In [10]:
#List
print([1,2,3,4])

[1, 2, 3, 4]

In [11]:
#Tuple
print((2,4,5,6))

(2, 4, 5, 6)

In [12]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [13]:
#dictionary
print({"rakib":"hasan", "shahin":"mahi"})

{'rakib': 'hasan', 'shahin': 'mahi'}

In [14]:
#complex
print(1+3j)

(1+3j)

In [16]:
# to know any value data type
type(1+3j)
type([1,2,3,5])

list

#4.Variables
###A variable in programming is like a labeled container that holds data, allowing you to store

In [ ]:
# 3 important things to know
# static vs dynamic typing
# Static vs dynamic biniding
# stylish declaration technique

In [ ]:
#static typing:

#int a = 3 # declare the variable data type firstly

#dynamic typing
a = 3 # don't don't to declare the datatype , python itself understand that

In [ ]:
#static binding

# if we declare a variable name as int and store data then we can't store any other type variable
# int a = 10
# a = "afsdfs"   # not possible


# dynamic binding

a = 3
print(a)
a = "adfds"
print(a) # possible

In [21]:
#stylish declaration techinque


a,b,c = (1,2,3)
print(a,b,c)

# a,b = (1,3,4)
# print(a,b,c) not possible

# a,b,c = (1,2) not possible

1 2 3

In [22]:
a = b = c = 2
print(a,b,c)

2 2 2

#5.keyword
######Keywords in Python are reserved words that have predefined meanings and are used to perform specific tasks or operations within the language

###and this word we can't use for taking variable name

#6 . Identifiers:
#### an identifier is a name given to entities like variables, functions, classes, etc., while a variable is a specific type of identifier that stores data and can be assigned a value that can change during program execution. So, while all variables are identifiers, not all identifiers are variables.



#Rules for naming identifiers:
#1. we can't start naming with digit
##1rakib = 10 (not possible)

#2. you can not use special characters except (_)
##_rakib=10 (possible)


#3.can't use keyword

#7.User Input

In [27]:
input("please enter a name")

please enter a name rakib

' rakib'

In [26]:
#take input from user and store them in a variable

fnum = input("enter the first number ")
snum = input("enter the second number ")
print(fnum);
print(snum)

enter the first number 3
enter the second number 4

In [28]:
# *** most important part input take anything as "string" formet
fnum = input("enter the first number ")
snum = input("enter the second number ")
type(fnum)  # this will be string

enter the first number 3
enter the second number 4

str

#8.type conversion

In [38]:
#can't have any operation between two datatype
#implicit
a = 10
b = 5.5
c = a + b
print(c)
print(type(c))


#explicit
a = 10
b = str(10)
print(type(b))


a = "233"
b = int(a)
print(type(b))

15.5
<class 'float'>
<class 'str'>
<class 'int'>

#9.extra part of user input

In [30]:

# fnum = int(input("enter the first number "))
# snum = input("enter the second number ")
# sum = fnum+ snum
# type(sum)


# here fnum is int and snum is in string
# so we can't sum

In [33]:
#1 method
fnum = input("enter the first number ")
snum = input("enter the second number ")
sum = int(fnum)+int(snum)
print(sum);
print(type(sum));

enter the first number 3
enter the second number 4
7
<class 'int'>

In [39]:
# 2 method
fnum = int(input("enter the first number "))
snum = int(input("enter the second number "))
sum = fnum+snum
print(sum);
print(type(sum));

enter the first number 3
enter the second number 4
7
<class 'int'>

#10.Literals
#### They represent raw data and can include numbers, strings, boolean values, and other primitive data type

In [ ]:
a = 0b1010 #Binary Literals
b = 100   # Decimal Literals
c = 0o210 # Octal Literals
d = 0x14a #Hexadecimal Literal

#Float Literal
float_1=10.5
float_2= 1.5e2
float_3= 1.5e-3

#complex Literal
x = 3.14j

In [ ]:
print(a,b,c,d)
print(float_1, float_2,float_3)

In [44]:
#string Literals
string1 ='this is rakib'
string2 ="this is rakib"
string3 = """
this is rakib
this is mahi
this is hasina

"""
unicode1 = u'\U0001F604'

abc = "a \n ffd \n c"
raw_str = r"raw \n string"

print(string3)
print(unicode1)
print(abc)

this is rakib
this is mahi
this is hasina


😄
a
 ffd
 c

In [ ]:
# if we want to declare a variable previously but don't want to upload a value
a = None
print(a)

#11.Operators in python

###*Arithmatic
###*Relational
###*Logical
###*Bitwise
###*Assignment
###*Membership

In [47]:
#Arithmatic
# '+' , "-", "*", "/", "//", "%", "**"

a = (12/5)
b= (12//5) # give round floor value
print(a,b)

c= (12%5)
print(c);


d = (2 ** 3) # 2 power 3
print(d)

2.4 2
2
8

In [ ]:
#Relational

# ">","<", ">=", "==", "!="

In [49]:
#logical

# and    or     not


print( 1 and 0 )

print(0 and 0 )


print(1 or 0)

print(not 1)

0
0
1
False

In [ ]:
#bitwise


# bitwise or  '|'
print(2 | 3)

# bitwise and  '&'
print(2 & 3)

#bitwise nor '^'
print(2^3)

# bitwise not '~'
print(~3)

# left shift
print(3<<1)

# right shift
print(1>>2)



# ++a or a++ not exist

In [ ]:
#membership

#in/not in
# return only true or false

print("d" not in "chittagong")

print(1 in [1,2,3,4])