<a href="https://colab.research.google.com/github/Rakib-Hasan25/python_everything/blob/main/tuple_sets_dictionary_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples

A tuple is similar to a list . but we can't edit or delete its value when after its creation

In short , tuple is an immutable

Character

#creationg a tuple

In [ ]:
#empty
t1 =()

t2 = ('hello')# when their is only one item , it thinks that it is a string

print(t2)


# so approach
t3=('hello',) # a comma in last , then it thinks it is a tuple


#hetro --> when item are different
t4 = (1,2,3,true,[1,2,3],(1,3,4))

#indexing and slicing

In [1]:
t3=('hello',)
print(t3[0])

print(t3[0:])

hello

#editing and deleting

In [ ]:
#Editing items

#not possible

#t3[0]=10 give error


# del t3   not error

# del t3[0] give error

#operation

In [2]:
##+ and *
t1 =(1,2,3)
t2 = (1,2,4)

print(t1+t2)

#membership
print(1 in t1)

#iteration
for i in t1 :
  print(i)

(1, 2, 3, 1, 2, 4)
True
1
2
3

In [ ]:
#function
#len/sum/min/sorted
# count , index

#Difference form list and Tuple


fast -because immutable
memory - beacause immutable

In [3]:
import time
L= list (range(10000000))
T=  tuple (range(10000000))

start  = time.time()

for  i in L:
  i*5

print("List time", time.time()-start)


start  = time.time()

for  i in T:
  i*5

print("List time", time.time()-start)

List time 0.8742797374725342
List time 0.8481009006500244

In [4]:
a = (1,2,3)
b = a
a = a + (4,)


print(a)
print(b)
# for immutable they don't share same location

(1, 2, 3, 4)
(1, 2, 3)

In [5]:
#swapping
a = 1
b = 2

a,b = b,a

print(a,b)

2 1

In [6]:

#a,b=(1,2,3,4) give error

#solution

a,b,*others = (1,2,3,4,6)

print(a,b,others)

1 2 [3, 4, 6]

In [7]:
#zipping
a = (1,2,3)
b = (2,4,5)

list ( zip (a,b))

[(1, 2), (2, 4), (3, 5)]

#**Sets**



###A set is an unordered collection of items
###every set element is unique ( no duplicate )
###sets are mutable(can be edit or delete)
###also used to perform mathmatical operation like union , intersection , symmetric
### can't contain mutable data types

#creating sets

In [ ]:

# empty
s = { }
print(type(s))# it is dictionary

# for this to create empty
s = set()


#1D
s1= { 1,2,3}

#2D

#S2 = { 1,3,4 , { 1,2,3}}

# give error reason set it self a mutable type and it can't not store mutable types



s3 = {1, 'hello', 4.5, True}


# duplicate not allowed


s5 = {1,1,3,4}

# convert to set


s5 = set([1,2,4])

In [ ]:
# sets are unordered


s1 = {1,2,4}
s2={4,2,1}
print(s1==s2) # true



# but for list it give false , because it is odered

#adding items

In [ ]:
s = {1,2,2,3}
s.add(5)

s.update([5,6,7])

#editing current item

In [ ]:
#The mutability of sets refers to their ability to change their contents (i.e., add or remove elements), not to modify individual elements within the set.
#  This design choice is primarily because sets are unordered collections of unique elements
#  , and indexing doesn't make sense in the context of unordered collections.

# so ,
s = {1,2,2,3}
s[0]=100 # not possible

In [ ]:
# delete

In [8]:
# del


s = {1,2,3}
del s


# discard

print(s.discard(50))
# won't give any error if no item avail here


#remove

s.remove(50)
# give error if item not avail

# pop

s.pop()
# remove a random element



# clear
s.clear() # delete all element and return and empty set

None

#Operation

In [10]:
S1 = {1,2,3,4,5}
S2 = {4,5 ,6, 7,8}


#union (|)

# intersection (&)


# difference (-)

#symmetric differnce ( ^ )
print("symmtice difference",S1 ^ S2)


#membeship
1 not in S1
# iteration

for i in S1:
  print(i)

symmtice difference {1, 2, 3, 6, 7, 8}
1
2
3
4
5

In [13]:
# union / update
S1 = {1,2,3,4,5}
S2 = {4,5 ,6, 7,8}
S1.union(S2)
print(S1)


S1.update(S2)
print(S1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:

#intersection / intersection differnce
S1 = {1,2,3,4,5}
S2 = {4,5 ,6, 7,8}

S1.intersection(S2)
print(S1)

S1.intersection_update(S2)

print(S1)

{1, 2, 3, 4, 5}
{4, 5}

In [15]:
#isdisjoint/issubset/issuperset

S1 = {1,2,3,4,5}
S2 = {4,5 ,6, 7,8}

S1.isdisjoint(S2)

False

#Frozenset

it is just an immutable verision  of sets

In [16]:
#creation
fs= frozenset([1,2,4])
print(fs)

frozenset({1, 2, 4})

#Dictionary

a collection of keys and values


##mutable
#indexing has no meaning
#keys can't be duplicated
#*** keys can't be mutable items

#creation

In [ ]:
#empty
d = {}

#1D
d1 = { "name":"rakib", "gender":"male"}


#mixed key

d3 = { (1,2,3): 1 , 'hello':'world'} # tuple are immutable so it can be used as key


#2D
d2 = {
    'name':'rakib',
    'subjects': {
        'dsa':50
    }
}

#using sequence and dict function

d4 = dict([('name','nitesh'), ('age', 32 ),(3,4)])


# duplicate keys

d5 = {'name':"rakib", "name":"hasan"}

#Accesing items

In [ ]:

my_dict = { 'name':'jack', 'age':26}

my_dict['age']


my_dict.get('age')

#Adding key- value

In [17]:
my_dict = { 'name':'jack', 'age':26}
my_dict['new']= 54
my_dict

{'name': 'jack', 'age': 26, 'new': 54}

#remove

In [ ]:
d = { 'name':'jack', 'age':26}

#pop
d.pop('name')#always key

#popitem

d.popitem()# delete last


# del
del d['name']


#clear

#editing

In [18]:
d = { 'name':'jack', 'age':26}

d['name']=10
print(d)

{'name': 10, 'age': 26}

operation

In [ ]:
#membership
#itertion
for i in d:
  print(i, d[i])# i is key and d[i]is value

#functions

In [20]:
#len,sorted , max

#items
d = { 'name':'jack', 'age':26}
print(d.items())

#keys

print(d.keys())
#value

print(d.values())



#function

d2={'age':26, 'oke':"nice" }

d.update(d2)
print(d)

dict_items([('name', 'jack'), ('age', 26)])
dict_keys(['name', 'age'])
dict_values(['jack', 26])
{'name': 'jack', 'age': 26, 'oke': 'nice'}

#dictionary Comprehension

In [21]:
# print 1st 5 number with their square


{i:i**2 for i in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
# chage an existing dict value

dist ={'ctg':100,'dhaka':200}


new_dist= {i:dist[i]*3 for i in dist}
print(new_dist)

{'ctg': 300, 'dhaka': 600}

In [26]:
# making 2 list a map
list1= [1,3,4,55]
list2 = ["f","s","f","q"]


map= {i:j for (i,j) in zip(list1,list2)}
map

{1: 'f', 3: 's', 4: 'f', 55: 'q'}

In [27]:
#using if condition

dist ={'ctg':100,'dhaka':200}


{key:value for (key,value)in dist.items() if key =='ctg'}

{'ctg': 100}